<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Autenticação</title>
</head>
<body>
    <h1>Página de Autenticação</h1>

    <form action="/auth" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="iemail">
    
        <label for="password">Senha:</label>
        <input type="password" name="password" id="isenha">
    
        <button>Autenticar</button>
    </form>

</body>
</html>