<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro de usuário</title>
    <link rel="stylesheet" href="paginaCadastro.css">
</head>
<body>
    
    <div id="div-pai">
        <div id="div-filho">
            <h1>Página de cadastro de user</h1>
            <form action="/user" method="post">
                <div class="div-input">
                    <input type="text" name="name" id="iname" placeholder="Your name..." required>
                    <input type="email" name="email" id="iemail" placeholder="Your email..." required>                    
                    <input type="password" name="password" id="ipassword" placeholder="Your password..." required>

                    <button class="btt-input">Cadastrar</button>
                </div>
            </form>
        </div>
    </div>

</body>
</html>