<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de cadastro de usuário</title>
</head>
<body>
    
    <h1>Página de cadastro de user</h1>

    <form action="/user" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="iname">

        <label for="email">Email:</label>
        <input type="email" name="email" id="iemail">

        <label for="password">Password</label>
        <input type="password" name="password" id="ipassword">

        <button>Cadastrar</button>
    </form>

</body>
</html>