<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Autenticação</title>
    <link rel="stylesheet" href="/paginaAutenticacao.css">
</head>
<body>
    <div id="div-pai">
        <div id="div-filho">
            <h1>Página de Autenticação</h1>
            <div class="div-input">
                <input type="email" name="email" id="iemail" placeholder="Your email..." required>
                <input type="password" name="password" id="isenha" placeholder="Your password..." required>
            
                <button onclick="login()" class="btt-input">Autenticar</button>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script>

    function login(){
        var email = document.getElementById('iemail').value;
        var password = document.getElementById('isenha').value;

        axios.post('http://localhost:4545/auth', {
            email,
            password
        })
        .then((response) =>{
            var token = response.data.token;
            localStorage.setItem('Token', token);
            alert(`Authenticate successfully!`);
        })
        .catch((error) =>{
            console.log(error);
            alert('Bad request')
        })
    }

</script>

</html>