<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Games</title>
    <link rel="stylesheet" href="/paginaApiStyle.css">
</head>
<body>
    
<div id="div-pai">
    <div id="div-filho">
        <h1>Loja de Games</h1>
        <br>
        
        <h2>Lista de games/preços:</h2>
        
        <ul id="list-games">
        
        </ul>
        
        <h2>Novo Game:</h2>
        <div class="div-input">
            <input type="text" name="titulo" id="ititulo" placeholder="Titulo">
            <input type="number" name="ano" id="iano" placeholder="Ano">
            <input type="number" name="price" id="iprice" placeholder="Price">
            <button onclick="criarGame()" class="btt-input">Criar</button>
        </div>
        
        
        <h2>Editar Game:</h2>
        <div class="div-input" id="div-input-id">
            <input type="text" name="idEdit" id="idEdit" placeholder="id" readonly>
            <input type="text" name="tituloEdit" id="itituloEdit" placeholder="Titulo">
            <input type="number" name="anoEdit" id="ianoEdit" placeholder="Ano">
            <input type="number" name="priceEdit" id="ipriceEdit" placeholder="Price">
            <button onclick="editGames()" class="btt-input">Atualizar</button>
        </div>
    </div>
</div>


</body>



<script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
<script>


var axiosConfig = {
    headers: {
        authorization: "Bearer " + "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6MSwiZW1haWwiOiJ2aW5pY2l1c3VzZXIyMkBnbWFpbC5jb20iLCJpYXQiOjE3MjU1NDQ5ODIsImV4cCI6MTcyNTcxNzc4Mn0.9ls-YZ5dQbb2dspBEy_vEkIFc10HH8uDPyn44F2-ayI"
    }
}


//GET END-POINT VIEW GAMES
axios.get('http://localhost:4545/games', axiosConfig)
    .then((response) =>{
        var gamesData = response.data
        var listGames = document.getElementById('list-games');

        gamesData.forEach((games) =>{
            //NEW ITEM
            var newItem = document.createElement('li');
            //Criando atributos customizáveis com setattribute()
            newItem.setAttribute('data-id', games.id);
            newItem.setAttribute('data-title', games.title);
            newItem.setAttribute('data-year', games.year);
            newItem.setAttribute('data-price', games.price)

            newItem.textContent = `${games.id}. ${games.title} - $${games.price}    `
            listGames.appendChild(newItem);



            //DELETE LÓGIC + BUTTON
            var deleteBtt = document.createElement('button');
            deleteBtt.classList.add('deleteBtt')
            deleteBtt.innerHTML = 'Deletar';
            newItem.appendChild(deleteBtt);

            deleteBtt.addEventListener('click', () =>{
                if(confirm('Tem certeza que deseja EXCLUIR esses dados ?')){
                    var gameID = parseInt(newItem.getAttribute('data-id'))
                    console.log(gameID);
                    axios.delete(`http://localhost:4545/game/${gameID}`)
                        .then((res) =>{
                            if(res.status === 200){
                                window.alert('Game excluido');
                                window.location.reload();
                            }
                        })
                        .catch((error) =>{
                            console.log(error);
                        })
                }else{
                    window.location.reload();
                }
            })



            //EDIT BUTTON
            var editBtt = document.createElement('button');
            editBtt.classList.add('editBtt')
            editBtt.innerHTML = 'Editar';
            newItem.appendChild(editBtt);

            editBtt.addEventListener('click', () =>{
                var idEdit = newItem.getAttribute('data-id')
                var titleEdit = newItem.getAttribute('data-title')
                var yearEdit = newItem.getAttribute('data-year')
                var priceEdit = newItem.getAttribute('data-price')
                var divInput = document.getElementById('div-input-id')

                divInput.scrollIntoView({
                    behavior: "smooth"
                })


                document.getElementById('idEdit').value = idEdit;
                document.getElementById('itituloEdit').value = titleEdit;
                document.getElementById('ianoEdit').value = yearEdit;
                document.getElementById('ipriceEdit').value = priceEdit;
            })
        })

    })
    .catch((error) =>{
        console.log(error);
    })



//PUT END-POINT TO EDIT A GAMES
function editGames(){
        var id = document.getElementById('idEdit').value
        var title = document.getElementById('itituloEdit').value;
        var year = parseInt(document.getElementById('ianoEdit').value);
        var price = parseFloat(document.getElementById('ipriceEdit').value);

        var newGame = {
            titleVar: title,
            yearVar: year,
            priceVar: price
        };

        axios.put(`http://localhost:4545/game/${id}`, newGame)
            .then((response) =>{
                if(response.status === 200){
                    alert('Game atualizado');
                    window.location.reload();
                }
            })
            .catch((error) =>{
                console.log(error)
            })
}



//POST END-POINT CREATE A GAMES
function criarGame(){
    var title = document.getElementById('ititulo').value;
    var year = parseInt(document.getElementById('iano').value);
    var price = parseFloat(document.getElementById('iprice').value);

    var newGame = {
        titleVar: title,
        yearVar: year,
        priceVar: price
    };

    axios.post('http://localhost:4545/game', newGame)
        .then((response) =>{
            if(response.status === 201){
                alert('Game cadastrado');
                window.location.reload();
            }
        })
        .catch((error) =>{
            console.log(error)
        })
}


</script>
</html>